:root {
  --secondary: #e69b10;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  background-color: #333;
  color: white;
}

main {
  padding: 0 5%;
}

a {
  text-decoration: none;
  color: white;
}

i {
  padding: 5px;
}

.secondary {
  color: var(--secondary);
}

.hero-image {
  background-image: url("../img/hero.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 50vh;
}

.hero-text {
  font-size: 2.2rem;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  color: #333;
  transform: translate(-50%, -50%);
}

.navbar {
  display: flex;
  position: sticky;
  z-index: 1;
  top: 0px; /* stick to top of screen */
  width: 100%;
  justify-content: space-evenly;
  background-color: #4a4a4a;
  border-bottom: 5px;
  border-bottom-color: var(--dark-secondary);
}

.navbar a {
  text-transform: uppercase;
  border-bottom: 5px #4a4a4a solid;
  color: white;
  width: 100%;
  text-align: center;
  transition: color 500ms ease, background-color 500ms ease,
    border-bottom 500ms ease;
  padding: 10px 0px;
  padding-top: 15px;
}

.navbar a:hover {
  color: var(--secondary);
  background-color: #111;
  border-bottom: 5px var(--secondary) solid;
}

.section-header {
  padding-top: 3rem;
  text-transform: uppercase;
}

.project-container {
  padding-top: 1rem;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
}

.project-container .project-item-wrapper {
  padding: 20px 0px;
}

.project-item-wrapper .project-item {
  max-width: 500px;
  border: 5px var(--secondary) solid;
  background-color: var(--secondary);
  display: grid;

  grid-template-rows: 1fr 4rem 4rem;
  grid-gap: 5px;
  height: auto;
}

.thumb-container {
  position: relative;
  width: 100%;
}

.thumb-img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.thumb-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.75);
  transition: opacity 500ms ease;
}

.thumb-container:hover .thumb-overlay {
  opacity: 1;
}

.thumb-text {
  padding: 5%;
}

.lang-icon {
  position: absolute;
  width: 17%;
  height: auto;
  left: 75%;
}

.title {
  font-size: 1.8rem;
  padding-bottom: 0.5rem;
  padding-top: 3px;
}

.lang {
  font-size: 1.4rem;
  padding-bottom: 3rem;
}

.desc {
  font-size: 1.2rem;
}

.project-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background-color: #4a4a4a;
  transition: background-color 500ms ease, color 500ms ease;
  text-transform: uppercase;
  font-weight: 700;
}

.project-item a i {
  font-weight: normal;
  font-size: 2rem;
  padding: 1rem;
}

.project-item a:hover {
  background-color: #111;
  color: var(--secondary);
}

/* Large screens and Desktop */
@media screen and (min-width: 890px) {
  .hero-image {
    height: 100vh;
  }

  .project-container {
    justify-content: flex-start;
  }

  .project-container .project-item-wrapper {
    padding: 20px;
  }

  .project-item-wrapper .project-item {
    max-width: 350px;
  }

  .lang-icon {
    width: 17%;
  }

  .title {
    font-size: 1.4rem;
    padding-bottom: 5px;
  }

  .lang {
    font-size: 1.1rem;
    padding-bottom: 1rem;
  }

  .desc {
    font-size: 0.9rem;
  }
}
