[Desktop Entry]
Encoding=UTF-8
Name=Link to Free stock photos · Pexels
Type=Link
URL=https://www.pexels.com/photo/man-wearing-jacket-standing-on-wooden-docks-leading-to-body-of-water-571169/
Icon=text-html
Name[en_US]=hero link
